.feedback {
  padding-top: 93px;
  padding-bottom: 113px;
  background-color: $feedback-color;

  background-image: url("../img/icon-header-triangle.svg"), url("../img/triangles-feedback.svg");
  background-position: -855px -178px, 1556px 35px;
  background-repeat: no-repeat, no-repeat;

  @media (max-width: $tablet-width-max) {
    padding-top: 76px;
    padding-bottom: 104px;
    background-image: none;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 28px;
    padding-bottom: 43px;
  }
}

.feedback__container {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 971px;
    padding-right: 375px;
  }

  @media (max-width: $tablet-width-max) {
    padding-left: 91px;
    padding-right: 87px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feedback__title {
  margin-bottom: 8px;
  color: $white-color;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 14px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 12px;
    line-height: 41px;
  }
}

.feedback__description {
  margin: 0;
  margin-bottom: 53px;
  padding-left: 4px;
  color: $white-color;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 24px;
    padding-left: 0;
  }
}

.feedback__form {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/feedback-airplane@1x.png");
    background-repeat: no-repeat;
    width: 511px;
    height: 288px;
    top: -64px;
    left: -622px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback-airplane@2x.png");
      background-size: contain;
    }

    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }
}

.feedback__form-field {
  margin-bottom: 40px;
  width: 47%;

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.feedback__form-field input {
  width:100%;
  height: 48px;
  padding-left: 14px;

  @media (max-width: $tablet-width-max) {
    height: 53px;
  }
}

.feedback__form textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 41px;
  padding: 14px;

  @media (max-width: $tablet-width-max) {
    height: 160px;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width-max) {
    height: 103px;
    margin-bottom: 30px;
  }
}

.feedback__button {
  width: 270px;
  margin-right: 68px;

  @media (max-width: $tablet-width-max) {
    width: 279px;
    margin-right: 72px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.feedback__checkbox {
  width: 230px;
  padding-top: 8px;

  @media (max-width: $tablet-width-max) {
    margin-right: 8px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 33px;
  }
}
