form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.form__field input,
form textarea {
  background-color: $input-back-color;
  color: $white-color;
  border: none;
  outline: none;

  &::placeholder {
    color: $white-color;
  }

  &:focus {
    outline: 1px solid $white-color;
  }
}

form textarea {
  resize: none;
}

.form__button {
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $feedback-color;
  }
}

.form__checkbox {
  font-size: 14px;
  line-height: 16px;
  color: $white-color;
}

.form__checkbox input + label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -32px;
    width: 16px;
    height: 16px;
    border: 1px solid $white-color;
  }
}

.form__checkbox input:hover + label,
.form__checkbox input:focus + label {
  &::before {
    background-color: $input-back-color;
  }
}

.form__checkbox input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -28px;
    width: 7px;
    height: 8px;

    @include bg-image ("icon-tick.svg");
  }
}
