.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 228px;
  padding-top: 33px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 116px;
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 230px;
    padding-top: 18px;
  }
}

.header-nav__logo {
  display: block;
  width: max-content;
}

.header-nav__contacts {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-right: 56px;

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
  }
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 81px;

    @media (max-width: $tablet-width-max) {
      margin-right: 50px;
    }
  }
}

.header-nav__item a {
  padding-left: 40px;
  line-height: 18px;
  color: $white-color;

  @media (max-width: $tablet-width-max) {
    font-size: 0;
  }
}

.header-nav__link {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--mail {
    &::before {
      background-image: url("../img/icon-mail.svg");
      width: 19px;
      height: 14px;
      top: 2px;
      left: 0;

      @media (max-width: $tablet-width-max) {
        width: 26px;
        height: 19px;
        top: -15px;
        left: 47px;
      }

      @media (max-width: $mobile-width-max) {
        left: 56px;
      }
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icon-phone.svg");
      width: 18px;
      height: 19px;
      top: 0;
      left: 5px;

      @media (max-width: $tablet-width-max) {
        width: 21px;
        height: 21px;
        top: -16px;
        left: 17px;
      }
    }
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.header-nav__button {
  width: 180px;

  &:hover,
  &:active,
  &:focus {
    background-color: $feedback-color;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
