.page-footer a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page-footer__top {
  border-bottom: 1px solid $footer-border-color;

  @media (max-width: $mobile-width-max) {
    border-bottom: none;
  }
}

.page-footer__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 25px;

  @media (max-width: $tablet-width-max) {
    padding-top: 18px;
    padding-right: 0;
    padding-bottom: 6px;
    padding-left: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 47px;
    padding-bottom: 5px;
    border-bottom: none;
  }
}

.page-footer__top a {
  display: block;
  width: fit-content;
  font-size: 15px;
  line-height: 25px;
  color: $footer-links-color;
}

.page-footer__links {
  @media (max-width: $tablet-width-max) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 38px;
    padding-bottom: 26px;
    border-bottom: 1px solid $footer-border-color;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 46px;
  }
}

.page-footer__link-svg {
  fill: $footer-social-links;
}

.page-footer__link {
  &:hover,
  &:focus {
    .page-footer__link-svg {
      fill: $footer-links-color;
    }
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 52px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width-max) {
    align-self: center;
    padding-left: 0;
  }
}

.page-footer__links-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;

  @media (max-width: $tablet-width-max) {
    padding-top: 11px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 32px;
    align-self: center;
  }
}

.page-footer__links-item {
  margin-right: 15px;
}

.page-footer h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $header-back-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 27px;
  }
}

.page-footer__menu {
  @media (max-width: $tablet-width-max) {
    padding-left: 3%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid $footer-border-color;
  }
}

.page-footer__menu-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 74px;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: auto;
  }
}

.page-footer__menu-item {
  max-width: 250px;

  @media (max-width: $tablet-width-max) {
    &--details {
      order: 1;
    }

    &--delivery {
      order: 2;
    }

    &--contacts {
      order: 3;
    }
  }
}

.page-footer__contacts {
  max-width: 26%;

  @media (max-width: $tablet-width-max) {
    max-width: none;
    padding-right: 3%;
  }

  @media (max-width: $mobile-width-max) {
    max-width: none;
    width: 100%;
    border-bottom: 1px solid $footer-border-color;
  }
}

.page-footer__menu-inner {
  @media (max-width: $mobile-width-max) {
    padding-top: 29px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.page-footer__contacts-address {
  margin: 0;
  color: $footer-links-color;
}

.page-footer__down {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $footer-links-color;

  @media (max-width: $tablet-width-max) {
    padding-top: 21px;
    padding-bottom: 23px;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
  }
}

.page-footer__law {
  margin: 0;
  margin-right: 37px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-footer__copyright {
  margin: 0;

  &--desktop {
    margin-right: 90px;

    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (max-width: $tablet-width-max) {
      display: block;
      padding-top: 17px;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.04em;
      color: $footer-links-color;
      text-transform: uppercase;
    }

    @media (max-width: $mobile-width-max) {
      padding-top: 25px;
      align-self: center;
    }
  }
}

.page-footer__privacy {
  color: $footer-links-color;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 21px;
  }
}

.page-footer__tag {
  margin: 0;
}

.page-footer__nav {
  @media (max-width: $mobile-width-max) {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 1px;
      top: 37px;
      right: 17px;
      background-color: $services-item-back;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 1px;
      height: 16px;
      top: 30px;
      right: 25px;
      background-color: $services-item-back;
    }

    &--closed {
      &::after {
        display: block;
      }
    }

    &--nojs {
      cursor: auto;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.page-footer__list {
  padding-bottom: 33px;

  @media (max-width: $mobile-width-max) {
    display: none;

    &--nojs {
      display: block;
    }

    &--opened {
      display: block;
      padding-bottom: 33px;
    }

    &--closed {
      display: none;
    }
  }
}
