html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  min-height: 100%;
  margin: 0;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "PT Mono", "Courier", monospace;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}

.page__main {
  @include bg-image("triangles-back.svg");
  background-position-y: -29px;

  @media (max-width: $tablet-width-max) {
    @include bg-image("features-triangle.svg");
    background-position-y: 91px;
    background-position-x: 220px;
  }

  @media (max-width: $mobile-width-max) {
    background-position-y: 653px;
    background-position-x: -112px;
  }
}

.page__title {
  margin: 0;
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width-max) {
    font-size: 32px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 28px;
  }
}
