.review {
  position: relative;
  padding-bottom: 110px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 85px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 65px;
  }
}

.review__container {
  position: relative;
  margin: 0;
  padding-left: 29%;
  padding-right: 20%;

  @media (max-width: $tablet-width-max) {
    padding-left: 212px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 15px;
    padding-right: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 312px;
    top: 3px;
    right: 70%;

    @include bg-image("review-date@1x.png");

    @media (min-resolution: 2dppx) {
      @include bg-image("review-date@2x.png");
      background-size: contain;
    }

    @media (max-width: $tablet-width-max) {
      width: 248px;
      height: 358px;
      right: 0;
      left: -1%;
    }

    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }
}

.review h2 {
  margin-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 15px;
  }
}

.review__description {
  margin-bottom: 39px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 28px;
  }
}

.review__description p {
  margin: 0;

  &:first-child {
    margin-bottom: 20px;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 39px;
    }
  }

  &:last-child {
    @media (max-width: $tablet-width-max) {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    @media (max-width: $mobile-width-max) {
      -webkit-line-clamp: 8;
    }
  }
}

.review__button {
  width: 180px;
  border: 1px solid $feedback-color;
  color: $feedback-color;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $feedback-color;
  }
}
