$text-color:#666666;
$white-color: #ffffff;
$header-back-color: #1b2d37;
$footer-links-color: rgba(27, 45, 55, 0.5);
$footer-border-color: rgba(98, 105, 98, 0.2);
$feedback-color: #00b2ff;
$feedback-hover-color: #255d75;
$border-color: #ebebeb;
$services-item-back: #c4c4c4;
$input-back-color: #19baff;
$footer-social-links:#cdcdcd;
$overlay-color: rgba(0, 0, 0, 0.5);

$main-font-family: "Roboto Condensed", "Arial", sans-serif;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$container-desktop-width: 1412px;

$img-path: "../img/";
