$text-color:#666666;
$white-color: #ffffff;
$header-back-color: #1b2d37;
$feedback-color: #00b2ff;
$feedback-hover-color: #255d75;
$border-color: #ebebeb;
$services-item-back: #c4c4c4;
$input-back-color: rgba(255,255,255, 0.1);

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$container-desktop-width: 1412px;

$img-path: "../img/";
